body{
    background-color: rgba(78, 77, 77, 0.555);
    
}

.main{
    height: 800px;
    padding: 10% 0px 10% 0px;
    margin: 10% 0px 10% 0px;
    border-radius: 13px;
    
    
    /* padding-top: 50px; */
    
    /* padding-left: 0px; */
}

.main div a{
    padding: 30px 3px 30px 3px;
    font-size: larger;
    background-color: rgba(78, 77, 77, 0.555);
    color: aliceblue;
    text-align: center;
    border: 20px !important;
    border-color: rgb(0, 255, 255) !important;
}
.cnav{
    background-color:#444444;
}
.cards{
    color:white;
    background-color: rgba(78, 77, 77, 0.555);
    padding: auto;
}
.ccaution{
    font-weight: bolder;
    font-size: xx-large;
    color:rgb(0, 255, 157);
}
.sticky-offset {
    top: 70px;
    background-color: rgb(78, 77, 77);
    font-size: larger;

}
.center{
    text-align: center;
    margin-top: 4%;
    position: sticky;
    top: 190px;
    font-size: x-large;

}
.fullwidth {
    width:100%;
    margin-bottom: 20px;
    margin-left:0;
    margin-top: 2px;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    font-weight: bolder;
    text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
    text-decoration: none;
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    /* border: ; */
    /* border-bottom: 14px; */
    box-shadow: 0px 8px 15px rgba(255, 0, 0, 0.1);
    color:#ffffff;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 100; /* Make sure it does not overlap */
   width: 50px;
   height: 50px;
}
  
  